.nav-btn {
    -fx-background-color: #1B4332;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 6 14 6 14;
}

.nav-btn:hover {
    -fx-background-color: #3E6151;
}
